.chat-settings {
    position: relative;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #65ffa8;
    margin-bottom: 1rem;

    p {
        padding: 1rem;
        border-radius: 5px;
        background-color: #2a2a2a;
    }

    label {
        width: 100%;
        display: flex;
        margin-bottom: 0.5rem;
        padding: 0;
    }

    input {
        width: 100%;
        border-radius: 3px;
        background-color: #2a2a2a;
        color: #ffffff;

        &:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(101, 255, 168, 0.5);
        }
    }
}
