* {
  box-sizing: border-box;
}

body {
  background: #18181b;
  color: #f4f4f5;
  font-size: 16px;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 24px;
  background: #232326;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3 {
  color: #a78bfa;
  margin-top: 0;
}

a {
  color: #38bdf8;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #f472b6;
}

.button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: all 150ms;
}

.button-primary {
  padding: 10px 20px;
  background: linear-gradient(90deg, #0000 0%, #38bdf8 100%);
  background-color: #a78bfa;
  color: #18181b;
  box-shadow: 0px 0px 3px rgba(224, 197, 197, 0.3);
}

.button-primary:hover {
  background-color: #ffdcee;
  color: #000;
}

.button-ghost {
  padding: 8px;
  background: transparent;
  color: #38bdf8;
  border: 1px solid #38bdf8;
}

.button-ghost:hover {
  background: #38bdf8;
  color: #fff;
}

.button-secondary {
  background: #9c93c4;
  color: #000000;
  padding: 4px;
  font-size: 0.875rem;
  font-weight: 500;
}

button.button-secondary:hover {
  background: #8267dc;
  color: #fff;
}

input,
textarea,
select {
  background: #232326;
  color: #f4f4f5;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 8px;
  font-size: 1rem;
  margin-bottom: 12px;
  outline: none;
  transition: border-color 0.2s;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #a78bfa;
}

code {
  background: #2d2d34;
  color: #f4f4f5;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  max-width: 100%;
  overflow-wrap: break-word;
}

.url-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  background: #232326;
  border: 1px solid #444;
  border-radius: 6px;
  margin-top: 1rem;
  gap: 1rem;
}

.logged-in-info-box {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  background: #232326;
  margin-bottom: 1rem;
}
